<footer>
  <div style="margin-bottom: 0.5rem">
    <a href="/" class="footer-text">Home</a>
    <a href="/movies" class="footer-text">Movies</a>
    <a href="/tvshows" class="footer-text">TV Shows</a>
  </div>
  <div>&copy; 2025 Lumeo. No rights reserved.</div>
</footer>
</body>
</html>
