<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lumeo - Watch Movies & Series</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.style.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo" style="margin: 0"><a href="/" style="text-decoration: none; color: #fbbf24;">Lumeo</a></div>
        <ul class="links">
          <li>
            <a
              href="/movies"
              style="color: #fbbf24; text-decoration: none; font-weight: 600"
              >Movies</a
            >
          </li>
          <li>
            <a
              href="/tvshows"
              style="color: #fbbf24; text-decoration: none; font-weight: 600"
              >TV Shows</a
            >
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
